<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h1 style="text-align:center">
  Bienvenido a {{ title }}
  <div style="text-align: center;">
    <a routerLink="/categoria">Ver categorias</a>
    <br>
    <br>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div style="text-align: center;">
    <br>
    <a routerLink="/horario_atencion">Ver horarios</a>
    <br>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>

</h1>
