<!--similar al div de HTML-->
<mat-card>
    <!--seccion de titulo de mat-card-->
    <mat-card-title>Inicia Sesión</mat-card-title>
    <!--divisor que se encuentra en el modulo MatDividerModule-->
    <mat-divider></mat-divider>
    <p><br></p>
    <!--seccion especial de contenido de tipo texto de mat-card-->
    <mat-card-content>
        <!--introducimos el formulario de login-->
        <form [formGroup]="formLogin" (submit)="send()">
            <!--*******************INPUT NOMBRE DE USUARIO*******************-->
            <p>
                <!--este ya no forma parte de mat-card, sino que es un componente de formulario-->
                <mat-form-field appearance="fill">
                    <!--agrega la etiqueta sobre el campo de texto-->
                    <mat-label for="nombre">Nombre de usuario</mat-label>
                    <!--
                        necesariamente deben agregarle el matInput para que reconozca 
                        como un input de material design
                    -->
                    <!--ahora relacionamos el componente a nuestro input-->
                    <!--formControlName: hace referencia al grupo de entradas definidas en login.component.ts-->
                    <input 
                        id="nombre" 
                        matInput 
                        type="text" 
                        formControlName="nombre">
                </mat-form-field>
            </p>
            <!--*******************INPUT NOMBRE DE PASSWORD*******************-->
            <p>
                <mat-form-field appearance="fill">
                    <mat-label for="contraseña">Contraseña</mat-label>
                    <input 
                        id="contraseña" 
                        matInput
                        type="password" 
                        formControlName="contraseña">
                </mat-form-field>
            </p>
            <!--necesitamos tomar los valores ingresados por teclado mediante un boton-->
            <!--*******************BOTON DE ENVIO*******************-->
            <button 
                type="submit" 
                mat-raised-button
                color="primary" 
                [disabled]="formLogin.invalid">Iniciar
            </button>
            <!--
                con la ultima orden inhabilitamos
                el boton cuando posee informacion invalida
            -->
        </form>

        

    </mat-card-content>
</mat-card>